:root {
    --color1: rgb(103, 137, 131);
    --color2: rgb(230, 221, 196);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: rgb(24, 28, 48);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 30px;
}

.menuP {
    font-size: 20px;
    list-style: none;
    display: flex;
    gap: 30px;
}

.itemMenu {
    padding: 5px;
    margin: 10px;
    border-radius: 5px 5px 10px 5px;
    background-color: var(--color2);
    box-shadow: 3px 2px 0px 1px var(--color1);
}

.itemMenu:active {
    transform: scale(0.97);
    box-shadow: 2px 2px 1px 1px rgb(24, 28, 48);
}

nav>ul>li>a {
    color: rgb(20, 20, 20);
    text-decoration: none;
}

/*FIN DEL NAV*/

.header {
    background-image: url("./imagenes/codigo.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 470px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 200px;
}

.titulo1 {
    text-align: center;
    font-size: 60px;
    color: var(--color2);
    text-shadow: 5px 5px black;
}

/* FIN DEL HEADER */

.titulo2,
.titulo3 {
    text-align: center;
    font-size: 40px;
    color: var(--color1);
    text-shadow: 2px 2px black;
    margin-top: 20px;
}

.mainMenu {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    padding: 50px;
    margin: 100px 0px;
    gap: 10px;
}

img {
    width: 100%;
}

.imgHistoria,
.imgJuego {
    width: 400px;
    height: 420px;
    border: 5px solid var(--color1);
    background-color: var(--color2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.imgHistoria>p,
.imgJuego>p {
    padding: 30px 10px;
}

.boton01 {
    width: 50%;
    display: block;
    text-align: center;
    margin: 10px;
    background-color: rgb(24, 28, 48);
    color: var(--color2);
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    box-shadow: 3px 2px 1px 1px var(--color1);
}

.boton01:active {
    transform: scale(0.98);
    box-shadow: 2px 2px 1px 1px var(--color2);
    color: var(--color2);
}

/*FIN DEL MAIN*/

.piePagina {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: var(--color1);
}

.logoMain {
    width: 100px;
    margin: 30px;
}

.h3Main,
.footerP {
    margin-top: 40px;
    margin-right: 50px;
    text-align: center;
}

/*FIN DEL FOOTER*/

/*INICIO INDEX 2 */

.mainHistoria {
    margin-bottom: 100px;
    padding: 20px;
    display: flex;
    flex-direction: column;

}

.tituloHistoria,
.tituloVideo {
    color: var(--color1);
    font-size: 45px;
    text-align: center;
    margin: 5px;
    text-shadow: 3px 3px black;
}

.textoHistoria {
    margin: 40px;
    padding: 50px 0px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.pHistoria {
    width: 600px;
    color: var(--color2);
    text-align: left;
}

/*SECTION VIDEO*/

.tituloVideo {
    margin-bottom: 30px;
}

.videO {
    display: flex;
    flex-direction: column;
    padding: 5px;
    align-items: center;
    margin: 50px;
    background-color: rgb(10, 9, 9);
    width: 800px;
    margin: 40px auto;


}

video {
    width: 100%;
}

.controlesGral {
    display: flex;
    width: 100%;
    background-color: rgb(57, 57, 57);
    justify-content: space-between;
    border-radius: 5px;
    margin-top: 5px;
}

.controlesVideo {
    margin: 5px;
}

#duracionVideo {
    display: flex;
    margin: 5px;
    padding-top: 15px;
    padding-right: 10px;
    font-size: 18px;
    gap: 10px;
}
#duracionVideo, #time01{
    color: var(--color2);
}


#playVideo,
#pauseVideo {
    background-color: var(--color2);
    padding: 10px 30px;
    margin: 5px;
    border: solid 2px black;
    border-radius: 10px;
    box-shadow: 3px 3px var(--color1);
}

#playVideo:active,
#pauseVideo:active {
    box-shadow: 3px 3px rgb(45, 45, 45);
    transform: scale(0.96);
}

/*INDEX 3 */

/*SECTION CONTENEDOR */

.titulo3 {
    margin-top: 100px;
}

.contenedorA,
.contenedorB {
    display: flex;
    justify-content: center;
    margin: 30px;
    width: auto;
}

.contenedorB {
    gap: 20px;
}

.contenedor2 {
    width: 320px;
    height: 450px;
    background-color: rgb(138, 138, 138);
    border: solid 2px rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contenedor2:hover {
    background-color: rgb(43, 38, 38);
}

.infoCont {
    color: var(--color2);
}

/* BUTTON */

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}
.reinicio{
    padding: 10px 120px;
    border-radius: 15px;
    font-size: 20px;
    box-shadow: 3px 3px var(--color1);
}

.reinicio:active{
    transform: scale(0.98);
    box-shadow: 3px 3px  rgb(24, 28, 48);
}